* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

header {
    background-color: #26333D;
}

.home_conteiner {
    /* background-color: blueviolet; */
    width: 90%;
    margin: 0% auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
}

.home_conteiner a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 70px;
    /* ----------conteudo pricipal---------- */
}

.conteudo_principal {
    background-color: #4874DE;
    height: 509px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.conteudo_principal img {
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 100%;
    /* Faz a imagem ocupar a altura total da div azul */
    object-fit: cover;
    /* Evita distorcer a imagem */

}

.box_de_texto {
    align-self: center;
    /* Centraliza o texto verticalmente dentro do container */
    max-width: 50%;
    /* Evita que o texto ocupe a largura inteira */
    padding-left: 50px;
    /* Adiciona um espaço da borda esquerda */
}

.conteudo_principal h1 {
    margin-bottom: 40px;
    color: #ffffff;


}

.span_conteudo_pricipal {
    display: flex;
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: 300;
}

.conteudo_principal a {
    background-color: #2FD6CB;
    text-decoration: none;
    color: #ffffff;
    padding: 11px 36px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

/* ---------area de login-------- */

.container_LOGIN {
    font-family: "Montserrat", sans-serif;
}

.cor_de_fundo {
    background-color: #4891DC;
    height: 430px;
    font-family: "Montserrat", sans-serif;


}

.box_texto_log {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;

}

.img_log {
    display: flex;
    padding-left: 90px;
    justify-content: flex-start;

}

.titulo_log {
    color: azure;
    font-weight: 600;
    display: flex;
    padding: 40px;
    padding-left: 20px;
}

.span_log {
    color: #dfdada;
    font-weight: 300;
    padding: 20px;
    font-size: 30px;
    padding-right: 60px;
}

.cor_de_fundo a {
    background-color: #2FD6CB;
    text-decoration: none;
    color: #ffffff;
    padding: 11px 36px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin: 20px;
}


/* -----------------------------PARTE DOS LIVROS----------------------------- */


.parte_livros {
    height: 1000px;
    padding: 30px;

}


.parte_livros h1 {



    display: flex;
    justify-content: center;
    padding: 20px;
}

.parte_livros hr {
    max-width: 330px;
    width: 100%;
    background-color: #2FD6CB;
    border: none;
    height: 6px;
    display: flex;
    margin: 0% auto;
    border-radius: 20px;
    margin-bottom: 30px;
}

.livros_container {
    display: flex;
    justify-content: center;
    /* Centraliza o grupo de livros na tela */
    gap: 60px;
    /* Define um espaço fixo e igual entre cada item */
    align-items: flex-start;
    /* Alinha os itens pelo topo */
}

.livros_container img {
    max-width: 180px;
    max-height: 270px;
    margin-bottom: 20px;

}

.livros_container h3 {
    display: flex;
    justify-content: center;

}

.livros_container SPAN {
    font-weight: 700;
    padding-left: 55px;


}

.livros_container p {
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 6px;
}